streamlit==1.31.1
spacy==3.7.2
nltk==3.8.1
pandas==2.2.2
numpy==1.26.4
pdfminer.six
python-docx
docx2txt
pyresparser==1.0.6
streamlit-tags
pymysql
yt-dlp
plotly
fuzzywuzzy
python-dotenv
transformers
torch
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
